{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/board/notice.css' %}">
	<style>
		.contents_wrap .side_bar{min-height: 905px;}
	</style>
{% endblock %}

{% block content %}
		<div class="content">
            
<style>

</style>
<div id="content">
	<div id="cont">
		<iframe height="800px" width="100%" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/pdf/studyplan/Level_A_%E1%84%92%E1%85%AA%E1%86%AF%E1%84%8B%E1%85%AD%E1%86%BC_%E1%84%80%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%83%E1%85%B3_ZDC69gr.pdf" frameborder="0"></iframe>
	</div>
</div>
{% endblock %}