{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/book/book_A.css' %}">
	<link href="https://www.dafontfree.net/embed/Y2hhbGtkdXN0ZXItcmVndWxhciZkYXRhLzE4NC9jLzE4MDQzMC9DaGFsa2R1c3Rlci50dGY" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="content">
            
<style>

</style>
<div class="book_calendar_area">
	<div class="title_area">
		<div class="level_name">
			<div class="lev_img_box">
				<img class="level_image" src="{% static 'image/book/level_title.png' %}" alt="">
			</div>
			<div class="book_num">
				<img class="img_detail" src="{% static 'image/book/levelA.png' %}" alt="">
			</div>
			<div class="font_detail">1</div>
		</div>
	</div>
	<div class="row" style="margin: 11px 0 0 164px;">
		<div class="week_icon_1">
		</div>
		<div class="day_area">
				<div class="mon_icon" data-toggle="modal" data-target="#vimeo_modal_1">
			</div>
			<div class="tue_icon" data-toggle="modal" data-target="#vimeo_modal_2">
			</div>
			<div class="wed_icon" data-toggle="modal" data-target="#vimeo_modal_3">
			</div>
			<div class="thu_icon" data-toggle="modal" data-target="#vimeo_modal_4">
			</div>
			<div class="fri_icon" data-toggle="modal" data-target="#vimeo_modal_5">
			</div>
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_2">
		</div>
		<div class="day_area">
			<div class="mon_icon" data-toggle="modal" data-target="#vimeo_modal_6">
			</div>
			<div class="tue_icon" data-toggle="modal" data-target="#vimeo_modal_7">
			</div>
			<div class="wed_icon" data-toggle="modal" data-target="#vimeo_modal_8">
			</div>
			<div class="thu_icon" data-toggle="modal" data-target="#vimeo_modal_9">
			</div>
			<div class="fri_icon" data-toggle="modal" data-target="#vimeo_modal_10">
			</div>
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_3">
		</div>
		<div class="day_area">
			<div class="mon_icon" data-toggle="modal" data-target="#vimeo_modal_11">
			</div>
			<div class="tue_icon" data-toggle="modal" data-target="#vimeo_modal_12">
			</div>
			<div class="wed_icon" data-toggle="modal" data-target="#vimeo_modal_13">
			</div>
			<div class="thu_icon" data-toggle="modal" data-target="#vimeo_modal_14">
			</div>
			<div class="fri_icon" data-toggle="modal" data-target="#vimeo_modal_15">
			</div>
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_4">
		</div>
		<div class="day_area">
			<div class="mon_icon" data-toggle="modal" data-target="#vimeo_modal_16">
			</div>
			<div class="tue_icon" data-toggle="modal" data-target="#vimeo_modal_17">
			</div>
			<div class="wed_icon" data-toggle="modal" data-target="#vimeo_modal_18">
			</div>
			<div class="thu_icon" data-toggle="modal" data-target="#vimeo_modal_19">
			</div>
			<div class="fri_icon" data-toggle="modal" data-target="#vimeo_modal_20">
			</div>
		</div>
	</div>
	<div id="vimeo_modal_1" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_2" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_3" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_4" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_5" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_6" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_7" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_8" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_9" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_10" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_11" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_12" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_13" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_14" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_15" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_16" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_17" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_18" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_19" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
	<div id="vimeo_modal_20" class="modal fade" role="dialog">
		<div id="custom_modal_body" class="modal-dialog">
			<div class="vimeo_wrap"></div>
		</div>
	</div>
</div>
<div style="display: none;">
	<iframe id="vimeo_1" width="1300" height="800" src="https://player.vimeo.com/video/678001095?h=334d1d86f5" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_2" width="1300" height="800" src="https://player.vimeo.com/video/678001095?h=334d1d86f5" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_3" width="1300" height="800" src="https://player.vimeo.com/video/674305952?h=153804f5b2" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_4" width="1300" height="800" src="https://player.vimeo.com/video/674305952?h=153804f5b2" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_5" width="1300" height="800" src="https://player.vimeo.com/video/674306367?h=5ffee3b022" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_6" width="1300" height="800" src="https://player.vimeo.com/video/673071255?h=55821120a8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_7" width="1300" height="800" src="https://player.vimeo.com/video/673071255?h=55821120a8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_8" width="1300" height="800" src="https://player.vimeo.com/video/673070869?h=56ac9774aa" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_9" width="1300" height="800" src="https://player.vimeo.com/video/673070869?h=56ac9774aa" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_10" width="1300" height="800" src="https://player.vimeo.com/video/673071045?h=a783a95709" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_11" width="1300" height="800" src="https://player.vimeo.com/video/673075714?h=7053981cd7" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_12" width="1300" height="800" src="https://player.vimeo.com/video/673075714?h=7053981cd7" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_13" width="1300" height="800" src="https://player.vimeo.com/video/673075423?h=871071a73e" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_14" width="1300" height="800" src="https://player.vimeo.com/video/673075423?h=871071a73e" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_15" width="1300" height="800" src="https://player.vimeo.com/video/673075569?h=b53120dbd0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_16" width="1300" height="800" src="https://player.vimeo.com/video/673079061?h=2476659707" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_17" width="1300" height="800" src="https://player.vimeo.com/video/673079061?h=2476659707" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_18" width="1300" height="800" src="https://player.vimeo.com/video/673079352?h=0a92f178ef" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_19" width="1300" height="800" src="https://player.vimeo.com/video/673079352?h=0a92f178ef" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	<iframe id="vimeo_20" width="1300" height="800" src="https://player.vimeo.com/video/673078823?h=c59d81542d" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>
<script>
	$('#vimeo_modal_1').on('show.bs.modal', function (e) {
		$q = $('#vimeo_1').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_1').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_2').on('show.bs.modal', function (e) {
		$q = $('#vimeo_2').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_2').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_3').on('show.bs.modal', function (e) {
		$q = $('#vimeo_3').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_3').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_4').on('show.bs.modal', function (e) {
		$q = $('#vimeo_4').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_4').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_5').on('show.bs.modal', function (e) {
		$q = $('#vimeo_5').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_5').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_6').on('show.bs.modal', function (e) {
		$q = $('#vimeo_6').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_6').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_7').on('show.bs.modal', function (e) {
		$q = $('#vimeo_7').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_7').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_8').on('show.bs.modal', function (e) {
		$q = $('#vimeo_8').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_8').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_9').on('show.bs.modal', function (e) {
		$q = $('#vimeo_9').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_9').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_10').on('show.bs.modal', function (e) {
		$q = $('#vimeo_10').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_10').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_11').on('show.bs.modal', function (e) {
		$q = $('#vimeo_11').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_11').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_12').on('show.bs.modal', function (e) {
		$q = $('#vimeo_12').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_12').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_13').on('show.bs.modal', function (e) {
		$q = $('#vimeo_13').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_13').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_14').on('show.bs.modal', function (e) {
		$q = $('#vimeo_14').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_14').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_15').on('show.bs.modal', function (e) {
		$q = $('#vimeo_15').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_15').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_16').on('show.bs.modal', function (e) {
		$q = $('#vimeo_16').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_16').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_17').on('show.bs.modal', function (e) {
		$q = $('#vimeo_17').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_17').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_18').on('show.bs.modal', function (e) {
		$q = $('#vimeo_18').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_18').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_19').on('show.bs.modal', function (e) {
		$q = $('#vimeo_19').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_19').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
	$('#vimeo_modal_20').on('show.bs.modal', function (e) {
		$q = $('#vimeo_20').clone().removeAttr('id')
		$a = $q.attr('src') + '&autoplay=1'
		$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
	})
	$('#vimeo_modal_20').on('hidden.bs.modal', function (e) {
		$(this).find($('.vimeo_wrap')).empty()
	})
</script>
{% endblock %}