{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/contents/nemies.css' %}">
{% endblock %}

{% block content %}
<div class="content">
            
<div class="video_area">
	<div class="contents_area">
		<!-- 이미지파일 영문으로 변경 후 진행 -->
		<div class="contaior">
					
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal45" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Teddy_Bear_Teddy_Bear_Say_Goodnight.PNG" alt="">
						<div class="video_title">
							1호 동요 Teddy Bear, Teddy Bear, Say Goodnight
						</div>
					</div>
					<div id="vimeo_modal45" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo45" width="1300" height="800" src="https://player.vimeo.com/video/698067310?h=3272aec15e" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal45').on('show.bs.modal', function (e) {
							$q = $('#vimeo45').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal45').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal47" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Star_Light_Star_Bright.PNG" alt="">
						<div class="video_title">
							2호 동요 Star Light, Star Bright
						</div>
					</div>
					<div id="vimeo_modal47" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo47" width="1300" height="800" src="https://player.vimeo.com/video/698067520?h=c09abcb896" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal47').on('show.bs.modal', function (e) {
							$q = $('#vimeo47').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal47').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal48" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Rain_Rain_Go_Away.PNG" alt="">
						<div class="video_title">
							3호 동요 Rain, Rain, Go Away
						</div>
					</div>
					<div id="vimeo_modal48" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo48" width="1300" height="800" src="https://player.vimeo.com/video/698068447?h=f87a7c98e8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal48').on('show.bs.modal', function (e) {
							$q = $('#vimeo48').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal48').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal49" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Little_Boy_Blue.PNG" alt="">
						<div class="video_title">
							4호 동요 Little Boy Blue
						</div>
					</div>
					<div id="vimeo_modal49" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo49" width="1300" height="800" src="https://player.vimeo.com/video/698068256?h=56bee93e53" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal49').on('show.bs.modal', function (e) {
							$q = $('#vimeo49').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal49').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal50" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Six_in_the_Bed.PNG" alt="">
						<div class="video_title">
							5호 동요 Six in the Bed
						</div>
					</div>
					<div id="vimeo_modal50" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo50" width="1300" height="800" src="https://player.vimeo.com/video/698067149?h=ff2233efde" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal50').on('show.bs.modal', function (e) {
							$q = $('#vimeo50').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal50').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal51" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Hickory_Dickory_Dock.PNG" alt="">
						<div class="video_title">
							6호 동요 Hickory Dickory Dock
						</div>
					</div>
					<div id="vimeo_modal51" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo51" width="1300" height="800" src="https://player.vimeo.com/video/698068578?h=ad24fb63fe" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal51').on('show.bs.modal', function (e) {
							$q = $('#vimeo51').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal51').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal57" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Six_Little_Ducks.PNG" alt="">
						<div class="video_title">
							7호 동요 Six Little Ducks
						</div>
					</div>
					<div id="vimeo_modal57" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo57" width="1300" height="800" src="https://player.vimeo.com/video/698066564?h=069f7026c5" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal57').on('show.bs.modal', function (e) {
							$q = $('#vimeo57').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal57').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal58" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/If_Youre_Happy_and_You_Know_It_nivZFLe.PNG" alt="">
						<div class="video_title">
							8호 동요 If You’re Happy and You Know It
						</div>
					</div>
					<div id="vimeo_modal58" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo58" width="1300" height="800" src="https://player.vimeo.com/video/698068055?h=9d5ffc1063" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal58').on('show.bs.modal', function (e) {
							$q = $('#vimeo58').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal58').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal59" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/Jess_and_Curly_Had_a_Farm_Dn47WWP.PNG" alt="">
						<div class="video_title">
							9호 동요 Jess and Curly Had a Farm
						</div>
					</div>
					<div id="vimeo_modal59" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo59" width="1300" height="800" src="https://player.vimeo.com/video/698066977?h=4f7efa5bc6" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal59').on('show.bs.modal', function (e) {
							$q = $('#vimeo59').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal59').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
				
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal60" src="http://s3.ap-northeast-2.amazonaws.com/bv-kidsloop/media/video-image/PhonicsSong/The_Wheels_on_the_Bus_Bs6L1XP.PNG" alt="">
						<div class="video_title">
							10호 동요 The Wheels on the Bus
						</div>
					</div>
					<div id="vimeo_modal60" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<iframe id="vimeo60" width="1300" height="800" src="https://player.vimeo.com/video/698066694?h=40fed9747a" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					</div>
					<script>
						$('#vimeo_modal60').on('show.bs.modal', function (e) {
							$q = $('#vimeo60').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal60').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
				
			
		</div>
		<div class="page_nav">
			
			
				<a name="page_btn" id="page1" class="on" href="?page=1">1</a>
			
				<a name="page_btn" id="page2"  href="?page=2">2</a>
			

			
				<a class="dir" href="?page=2" style="margin-left:4px">
					<img src="{% static 'image/index/btn_page_next.gif' %}" alt="다음" />

				</a>
				<a class="dir" href="?page=2">
					<img src="{% static 'image/index/btn_page_last.gif' %}" alt="끝으로" />
				</a>
			
		</div>
	</div>
</div>
{% endblock %}